{% extends 'base.html' %}

{% block title %}Lista de Livros - Biblioteca Django{% endblock %}

{% block content %}
    <h1>Catálogo de Livros</h1>
    <p><a href="{% url 'livro_cadastrar' %}" class="button">Cadastrar Novo Livro</a></p>

    {% if livros %}
        <ul>
            {% for livro in livros %}
                <li><strong>{{ livro.titulo }}</strong> - {{ livro.autor }} ({{ livro.genero }})</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum livro cadastrado ainda.</p>
    {% endif %}
{% endblock %}